<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="false" android:usesCleartextTraffic="false" android:label="@string/bunaway_app_title">
        <activity android:name="dev.bunaway.app.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
